*.html
*.js
*.zip
*.tags
*.aux
*.fdb_latexmk
*.fls
*.DS_Store
*.log
*.nav
*.out
*.snm
*.toc
*.swp
*.vrb
*.synctex.gz
*.vrb
*.lmk
*.tag*
*.exe
*.tar
*.rar
*.gz
*.avi
.czrc
.vscode/
__MACOSX/
__pycache__/
